@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  position: relative;
}

.dropdown-trigger {
  cursor: pointer;
  @apply text-gray-700 hover:text-gray-900;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
}

.dropdown-item {
  list-style: none;
  padding: 1rem 0.5rem;
  @apply text-gray-700 hover:text-gray-900;
}
